*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e693d7;
    font-size: 2vw;
    letter-spacing: 0.1px;
    word-spacing: 0.2em;
    line-height: 1.7;
    text-align: center;
    word-break: keep-all;
    padding: 24px;
    max-width: 800px;
    margin: 0 auto;
}
.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}


h1 {
    color: rgb(242, 235, 185);
    font-family: "Bagel Fat One", system-ui;
}

p {
    color: rgb(197, 13, 90);
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: "Jua", sans-serif;
}

h2 {
    color: rgb(242, 235, 185);
    font-family: "Jua", sans-serif;
}
h3 {
    color: rgb(197, 11, 71);
    font-family: "Jua", sans-serif;
}
strong {
    color: rgb(197, 13, 90);
    font-family: "Jua", sans-serif;
}

a,
summary {
    color: rgb(242, 235, 185);
    font-family: "Jua", sans-serif;
}

a:hover {
    color: rgb(242, 235, 185);
    font-family: "Bagel Fat One", system-ui;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #e693d7;
}
.table{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
    width: 100%;
    text-align: left;
}
.row1{
    padding: 16px;
    border:3px solid #e693d7;
    background-color: white;
    font-family: "Bagel Fat One", system-ui;
}

.row2{
    padding: 16px;
    border:3px solid #e693d7;
    background-color: white;
    font-family: "Bagel Fat One", system-ui;
}
.row3{
    padding: 16px;
    border: 3px solid #e693d7;
    background-color: white;
    font-family: "Bagel Fat One", system-ui;
}
.row4{
    padding: 16px;
    border:3px solid #e693d7;
    background-color: white;
    font-family: "Bagel Fat One", system-ui;
}
.row5{
    padding: 16px;
    border:3px solid #e693d7;
    background-color: white;
    font-family: "Bagel Fat One", system-ui;
}
.row6{
    padding: 16px;
    border:3px solid #e693d7;
    background-color: white;
    font-family: "Bagel Fat One", system-ui;
}
.dreamed{
    background-color: #de09ff;
    color: white;
    padding: 16px;
    border: 3px solid #e693d7;
    font-family: "Bagel Fat One", system-ui;
    cursor: pointer; text-decoration: none; color: inherit; display: block;
}
.null{
    background-color: #dbbee0;
    color: #816f82;
    padding: 16px;
    border: 3px solid #e693d7;
    font-family: "Bagel Fat One", system-ui;
}

.modal { display: none; position: fixed; inset: 0; background: #e693d7; z-index: 999; }
.modal:target { display: flex; justify-content: center; align-items: center; }

.modal-box { background: #e693d7; padding: 2rem; border-radius: 12px; max-width: 400px; width: 90%; position: relative; }
.close { position: absolute; top: 1rem; right: 1rem; text-decoration: none; color: rgb(242, 235, 185); font-size: 1.2rem; }

.modal-img { width: 100%; border-radius: 8px; margin-bottom: 0.8rem; }