*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c09fff;
}
.table{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
    width: 100%;
    text-align: left;
}
.row1{
    padding: 16px;
    border: 1px solid #291a8c;
    background-color: white;
}

.row2{
    padding: 16px;
    border: 1px solid #291a8c;
    background-color: white;
}
.row3{
    padding: 16px;
    border: 1px solid #291a8c;
    background-color: white;
}
.row4{
    padding: 16px;
    border: 1px solid #291a8c;
    background-color: white;
}
.row5{
    padding: 16px;
    border: 1px solid #291a8c;
    background-color: white;
}
.row6{
    padding: 16px;
    border: 1px solid #291a8c;
    background-color: white;
}
.dreamed{
    background-color: #de09ff;
    color: white;
    padding: 16px;
    border: 1px solid #291a8c;
}
.null{
    background-color: #dbbee0;
    color: #816f82;
    padding: 16px;
    border: 1px solid #291a8c;

}